body {
  background-color: #fcfcfc;
}
.main {
  text-align: center;
}
#title {
  margin-bottom: 0.25%;
}
#date-display {
  margin-top: 0.25%;
}
.h-mood-btn {
  appearance: none;
  border-radius: 100%;
  width: 10vw;
  height: 10vw;
  border: 2px black solid;
}
.h-mood-btn:checked {
  border-width: 6px;
}
.h-mood-btn[value="1"] {
  background-color: #8293FF;
}
.h-mood-btn[value="2"] {
  background-color: #A1ACDF;
}
.h-mood-btn[value="3"] {
  background-color: #BFC5C1;
}
.h-mood-btn[value="4"] {
  background-color: #DEDEA1;
}
.h-mood-btn[value="5"] {
  background-color: #FFF980;
}

.a-mood-btn {
  appearance: none;
  border-radius: 100%;
  width: 10vw;
  height: 10vw;
  border: 2px black solid;
}
.a-mood-btn:checked {
  border-width: 6px;
}
.a-mood-btn[value="1"] {
  background-color: #A3FF8A;
}
.a-mood-btn[value="2"] {
  background-color: #B9D371;
}
.a-mood-btn[value="3"] {
  background-color: #D1A556;
}
.a-mood-btn[value="4"] {
  background-color: #E9753A;
}
.a-mood-btn[value="5"] {
  background-color: #FF4A21;
}
.primary-btn {
  padding: 3vw 7vw;
  background-color: #7dff9d;
  border: 2px solid black;
  border-radius: 1px;
}
.secondary-btn {
  padding: 3vw 7vw;
  backgroud-color: #fcfcfc;
  border: 2px solid black;
  border-radius: 1px;
}